/* lora-regular - latin-ext_latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'),
       url('../fonts/lora-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lora-v13-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-regular - latin-ext_latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('../fonts/ubuntu-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v13-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--foreground: #000;
	--background: #fff;
}

html,
body {
    color: var(--foreground);
    box-sizing: border-box;
    font-family: 'Lora', serif;
    line-height: 1.3;
    padding: 0;
    margin: 0;
    background-color: var(--background);

    min-height: 100%;
    height: auto;
    height: 100%;

	  line-height: 1.4;
    /* min-height: 100%; */
}

img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    padding: 0.1em;
    border: 0;
}

.container {
    width: 80%;
    height: auto;
    margin: auto;
    overflow: hidden;
    /* I have no fuck**g idea why this works */
    min-height: 71%;
    /* height: auto; */
}



/* links */

a {
    color: var(--foreground);
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    background-color: var(--foreground);
    text-decoration: none;
}

.tags {
    padding-left: 1em;
    padding-bottom: 1em;
}

.tag a {
    text-decoration: none;
    color: #ccc;
}

.tag a:hover {
    color: #000;
    background-color: transparent;
}

.tag a::before {
    content: '#'
}

.img-link:hover{
    background-color: transparent;
}

/* line  */

hr {
    border-style: none;
    border-bottom: 3px solid var(--foreground);
    margin: 0 auto;
}

/* logo */

.logo-header {
    width: 100%;
    padding: 3em;
    /* margin: auto; */
    float:left;
    padding-top: 2em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1.1em;
    /* display: block; */

}

.logo-header a {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin: auto;
}

.logo-header img {
    height: 4em;
    padding-right: 1em;
    vertical-align: middle;
    /* width: auto; */
    margin: auto;
    display: inline-block;
}

/* navigation */

.navigation-container {
    display: block;
    vertical-align: middle;
    margin-bottom: 1.5em;
    /* margin: 1em; */
    /* padding: 1em; */
}

.navigation-container nav a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.3em;
    padding: 0.5em;
}

nav a.active {
    text-decoration: underline;
}

.ui-hr {
    padding-top: 0;
    margin-top: -3px;
    border-top: 3px solid var(--foreground);
}

/* quotes */

blockquote {
    border-left: 3px solid #ccc;
    margin-left: 1em;
}

blockquote p {
    padding-left: 1em;
}


footer {
    /* height: 50px; */
    background-color: var(--foreground);
    color: #ccc;
    /* position: absolute; */

    /* margin-top: 3em; */
    /* padding-top: 1em; */
    /* position: relative; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* clear: both; */

}

/* post list  */
.post-list {
    padding-top: 2em;
    list-style-type: none;
}

.post-list li {
    padding-bottom: 0.5em;
}

/* wiki list */
.wiki-title {
    text-transform: capitalize;
}

.wiki-description {

}

/* table */

/* https://codepen.io/AllThingsSmitty/pen/MyqmdM */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
    font-family: "Ubuntu", sans-serif;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

kbd {
	  margin: 0px 0.1em;
	  padding: 0.1em 0.6em;
	  border-radius: 3px;
	  border: 1px solid rgb(204, 204, 204);
	  color: rgb(51, 51, 51);
	  line-height: 1.4;
	  font-family: Arial,Helvetica,sans-serif;
	  font-size: 10px;
	  display: inline-block;
	  box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	  background-color: rgb(247, 247, 247);
	  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  text-shadow: 0 1px 0 #fff;
}
